@import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@500&display=swap");

.section {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  padding-top: 40px;
  padding-left: 20px;
  line-height: 1.5;
}

.section__heading {
  font-family: "Edu NSW ACT Foundation", cursive;
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 10px;
  text-align: center;
}

.section__list {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.section__list li {
  padding-bottom: 12px;
  text-align: center;
}

.section__list a {
  font-family: "Edu NSW ACT Foundation", cursive;
  text-decoration: none;
  color: white;
  opacity: 0.6;
}

.section__list a:hover {
  background-color: #7b2923;
  border-radius: 20px;
  transition: 0.3s ease;
  padding: 8px;
  opacity: 1;
  font-size: larger;
}

.active {
  background-color: #7b2923;
  border-radius: 20px;
  padding: 8px;
  text-shadow: 3px 3px 20px #7b1f4d, -2px 1px 30px #4a1d34;
}
